@charset "utf-8";
.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-items {
    background-color: pink;
    width: calc(25% - 46px); /* margin padding分を引く */
	margin: 3px;
	padding: 20px;
    border-radius: 10px;
    text-align: center;
}








/* @charset "utf-8";


.flex {
    display: grid;
    width: 0 auto;
    height: 300px;
    gap: 10px;
    
grid-template-columns: 1fr 1fr 1fr 1fr;
}

.flex-items {
    position: relative;
    border-radius: 10px;
    background-color: pink;
}

.flex-items > p {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
} */