@charset "utf-8";
.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-items {
    background-color: pink;
    width: calc(16.6% - 46px); /* margin padding分を引く */
	margin: 3px;
	padding: 20px;
    border-radius: 10px;
    text-align: center;
}



